<h1>Demo Chat</h1>

<div id="messages">
  <% @messages.each do |message|%>
    <%= render partial: 'messages/message', locals: {message: message}%>
  <% end %>
</div>

<%= form_with url: '#', html: {id: 'new-message'} do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, id: 'message-body' %>
  <br>
  <%= f.submit %>
<% end %>